@use 'variables' as *;
@use 'mixins' as *;

.header{
    
    nav {
        padding: 24px 15px 24px 15px;
    }

    &__logo{

        img{
            width: 5.5625rem;
            height: 1.9375rem; 
        }
    }

    &__menu{//Mobile Menu
        >span{
            display: block;
            width: 33px;
            height: 3px;
            background-color: $mediumGray;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__links{
        a {
            font-size: $font-small;
            transition: color 200ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &:hover {
                color: $kindaBlack;
            }
        }
    }

    .cta {
        font-size: $font-small;

        a{
            margin-right: 40px;
        }

    }

}


/* 
.logo {
    cursor: pointer;
}


.nav__links {
    list-style: none;
    & li {
        display: inline-block;
        padding: 0px 1.25rem;

        & a:hover{
            transition: all 0.3s ease-in-out 0s;
            color: $kindaBlack;
        }
    }
}


.dropdown img {
    margin-left: 5px;

}

.cta__links {

    margin-left:auto;
    list-style: none;
    & li {

        display: inline-block;
        padding: 0px 1.25rem;

        & a:hover{
            transition: all 0.3s ease-in-out 0s;
            color: $kindaBlack;
        }

    }
}

button {
    padding: .56rem 1.56rem;
    border-color: $mediumGray;
    border-radius: 1rem;
    background-color: $almostWhite; 

    &:hover {
        cursor: pointer;
        transition: all 0.3s ease-in-out 0s;
        color: $kindaBlack;
        border-color: $kindaBlack;
    }

} */